<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Classes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let klass of classes">
            <app-course-card
                    [name]="klass.name"
                    [description]="klass.description"
                    [discipline]="klass.discipline"
                    [grade]="klass.grade"
                    [image]="klass.image"
                    [percentage]="klass.percentage"></app-course-card>
        </ion-item>
    </ion-list>
</ion-content>
