<ion-card>
  <ion-card-header color="light">
    <ion-card-title>
        <ion-icon name="close" class="pull-right" (click)="closeMe()"></ion-icon>

      <ion-icon name="{{icon}}" color="{{type}}"></ion-icon>
      {{title}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-list>
      <ng-template ngFor let-i [ngForOf]="items">
        <ion-item>
          <ion-label>
            <h2>{{i.name}} </h2>
            <h3>{{i.description}} <ion-icon *ngIf="i.icon" name="{{i.icon}}"></ion-icon></h3>
            <p><ion-icon *ngIf="i.time" name="timer" color="{{i.status}}"></ion-icon>{{i.time}}</p>
          </ion-label>
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button size="small" color="light">
              <ion-avatar>
                <img src="{{i.img?i.img:'http://placekitten.com/150/151'}}"/>
              </ion-avatar>
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button>
                <ion-icon name="close" (click)="removeItem(i.id)"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="link" (click)="i.launch"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </ng-template>

    </ion-list>
  </ion-card-content>
</ion-card>