<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <!--<div class="date">[date]</div>-->
      Hi, [first_name]
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <!--<ion-img src="/assets/shapes.svg"></ion-img>-->
      <ion-card-header>

        <ion-card-title><ion-icon name="mail"></ion-icon> Message title</ion-card-title>
        <ion-card-subtitle>sub</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Here is some text from a message sent to you by xxxx...</p>
      </ion-card-content>
    </ion-card>
  <ion-card>
    <ion-img class="card-image" src="/assets/images/backgrounds/class/bridge.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Hello World</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The content for this card</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
    <!--<ion-list lines="none">-->
      <!--<ion-list-header>-->
        <!--<ion-label>Upcoming</ion-label>-->
      <!--</ion-list-header>-->
      <!--<ion-item href="https://beta.ionicframework.com/docs/">-->
        <!--<ion-icon slot="start" color="medium" name="book"></ion-icon>-->
        <!--<ion-label>overdue thing!</ion-label>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
</ion-content>
