<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hi, [first_name]
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Overdue -->
    <app-list-card [title]="'Overdue'" [type]="'warning'" [icon]="'warning'" *ngIf="showOverdue" [items]="(notifications$|async)?.overdue" (hide)="hideOverdue($event)"></app-list-card>

    <!-- Upcoming -->
    <app-list-card [title]="'Upcoming'" [type]="'primary'" [icon]="'book'" *ngIf="showUpcoming" [items]="(notifications$|async)?.upcoming" (hide)="hideUpcoming($event)"></app-list-card>

    <!--Messages-->
    <app-list-card [title]="'Messages'" [type]="'primary'" [icon]="'mail-unread'" *ngIf="showMessages" [items]="(notifications$|async)?.messages" (hide)="hideMessages($event)"></app-list-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button>
                <ion-icon name="mail"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="person"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>

<ion-footer>

</ion-footer>
