<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-avatar slot="end">
          <img src="{{avatar}}"/>
      </ion-avatar>
    <ion-title>
        Chat!
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding #content>
    <ion-grid>
            <ion-row *ngFor="let message of messages; let last = last">

                <!-- other user chats -->
                <ion-col size="9" *ngIf="message.from !== nickname" class="message other_message">

                    <ion-avatar>
                        <img src="{{message.avatar}}" onerror="this.src='https://www.fillmurray.com/100/100'"/>
                    </ion-avatar>

                    <span class="user_name">{{ message.from }}:</span><br>
                    <span>{{ message.text }}</span>
                    <div class="time">{{message.created | date:'h:mm'}}</div>

                </ion-col>

                <!-- my chats -->
                <ion-col offset="3" size="9" *ngIf="message.from === nickname" class="message my_message">
                    <span>{{ message.text }}</span>
                    <div class="time">{{message.created | date:'h:mm'}}</div>
                </ion-col>

            </ion-row>
        </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="message_row">
            <ion-col size="9">
                <ion-item no-lines>
                    <ion-input #messageInput (keyup.enter)="sendMessage()" type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="3">
                <ion-button clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
                    Send
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>